# Dependencies
node_modules/

# Build outputs
dist/
.webpack/

# Cache and logs
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# System files
.DS_Store
Thumbs.db